* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color: #20282c;
    color: #d4d1ce;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;


}

.row {
    max-width: 1200px;
    margin: 0 auto;

}

#title-ben {
    top: 12px;
    float: left
}

.title {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}

#header_container  {
    position: relative;
    width: 1200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;



}

h1 {
    margin: 0;
}

/* header css */
#social-container {
    position: relative;
    top: 8px;
    float: right;
}

.social_icons {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    display: inline-block;
}

.insta {
    background-image: url(img/instagram.svg);
}

.youtube {
    background-image: url(img/youtube.svg);
}

/* main css */

#main_porfolio {
    background-image: url(img/hacker-1944688_1280.jpg);
/* interesting section here we might need to change it */
}

.portfolio {
    position: relative;
    width: 100%;
    height: 600px;
}

#main_portfolio_container {
    background-image: url(img/hacker-1944688_1280.jpg);
}

.portfolio-container {
    position: relative;
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* text box on the top of the fold */

.main_portfolio_text_box {
    position: absolute;
    width: 360px;
    top: 50%;
    transform: translateY(-50%);
}

.main_portfolio_text_box_left {
    left: 0px;
}

/* main title on top of the fold */ 
.main_portfolio_text_title {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 70px;
    line-height: 56px;
    margin-bottom: 18px;
}

/* main text at the top of the fold */

.main_portfolio_text_body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

/* main button */

.main_portfolio_text_button {
    position: relative;
    display: inline-block;
    padding: 12px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}
